.favorites-table-title {
    display:flex;
    border-bottom: solid 1px #2c22bb;
    width: 100%; 
    height: 60px;
    flex-wrap: wrap; /* 추가 */
    justify-content: center; /* 추가 */
    align-items: center;
    font-family: IBM Plex Sans KR-Light;
    font-size: 35px;
    font-weight: bold;
  }
  
  .favorites-table-titlea{
    height: 70px;
  }

.favorites-table-wrap{
    display: block;
    width: 1024px;
  }

.my-div {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em 0;
    font-weight: bold;
    color: #000000;
    background: #FFF;
    border: solid 3px #000000;
    border-radius: 10px;
    width: 1024px;
    height: 100%;
  }
 
  .favorites-my-div2 {
    display: flex;
    padding-bottom : 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #000000;
    background: #FFF;
    border-bottom: solid 1px #000000;
    width: 100%;
    height: 140px;
    top: 0;
    left: 0;
  }

  .favorites-keyward{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
  }

  .favorites-keywarda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70%;
    border-right: 3px solid #e6e6e6;
    
  }

  .Favorites-itemkeyward {
    padding: 7px;
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 100%;
    border: solid 1px #FFF;
  }  

  .Favorites-my-divin-name {
    display: flex;
    margin: 1px;
    font-weight: bold;
    width: auto;
    height: 70px;
    align-items: center;
    font-size:25px;
    font-family: IBM Plex Sans KR-Light;
  }

  .Favorites-my-divin-price {
    display: flex;
    margin: 1px;
    font-weight: bold;
    width: auto;
    height: 35px;
    align-items: center;
    font-size:25px;
    font-family: IBM Plex Sans KR-Light;
  }

  .Favorites-button2 {
    display: flex;
    padding: 0.5em;
    margin: 0.5em;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
  }

  .Favorites-img{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 0px #000000;
  }

  .Favorites-button2a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 70%;
    border-left: 3px solid #e6e6e6;
  }

  .Favorites-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 100%;
    background-color: #ffffff;
  }

  .Favorites-pagination{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
  }

  .Favorites-pagination-number{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  
  .Favorites-pagination-click{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
    border: 0px;
    background-color: #f9f9f9;
  }

  .Favorites-pagination-animation:hover{
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
  }