<body>
  <form
    class="form-inline my-2 my-lg-0"
    action="{% url 'createform' %}"
    method="post"
  >
    {% csrf_token %}
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="gender"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="part"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="color"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag1"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag2"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag3"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <input
      class="form-control mr-sm-2"
      type="text"
      placeholder="tag4"
      aria-label="text"
      name="query[]"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      name="button"
      value="N"
    >
      N
    </button>
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      name="button"
      value="E"
    >
      E
    </button>
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="submit"
      name="button"
      value="S"
    >
      S
    </button>
  </form>
</body>
