<h2>상의</h2>
{% for user in users %} {% if user.part == "상의" %}
<p>
  {{user.id}} {{user.name}} {{user.gender}} {{user.color}} {{user.part}}
  {{user.tag}} {{user.rink}} {{user.image}} {{user.brand}} {{user.youtube}}
  {{user.price}}
</p>
{% endif %} {% empty %}
<p>검색 결과가 없습니다.</p>
{% endfor %}

<h2>하의</h2>
{% for user in users %} {% if user.part == "하의" %}
<p>
  {{user.id}} {{user.name}} {{user.gender}} {{user.color}} {{user.part}}
  {{user.tag}} {{user.rink}} {{user.image}} {{user.brand}} {{user.youtube}}
  {{user.price}}
</p>
{% endif %} {% empty %}
<p>검색 결과가 없습니다.</p>
{% endfor %}

<h2>모자</h2>
{% for user in users %} {% if user.part == "모자" %}
<p>
  {{user.id}} {{user.name}} {{user.gender}} {{user.color}} {{user.part}}
  {{user.tag}} {{user.rink}} {{user.image}} {{user.brand}} {{user.youtube}}
  {{user.price}}
</p>
{% endif %} {% empty %}
<p>검색 결과가 없습니다.</p>
{% endfor %}

<h2>신발</h2>
{% for user in users %} {% if user.part == "신발" %}
<p>
  {{user.id}} {{user.name}} {{user.gender}} {{user.color}} {{user.part}}
  {{user.tag}} {{user.rink}} {{user.image}} {{user.brand}} {{user.youtube}}
  {{user.price}}
</p>
{% endif %} {% empty %}
<p>검색 결과가 없습니다.</p>
{% endfor %}
