.page-content {
    padding-top: 70px; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left-section {
    flex: 1;
    max-width: 300px; 
    flex-basis: 300px; 
    padding-right: 20px; 
}

.center-section {
    flex: 2;
    max-width: 600px; 
    flex-basis: 600px; 
    
}

.right-section {
    flex: 1;
    max-width: 300px;
    flex-basis: 300px; 
    padding-left: 20px; 
}

.bottom-section {
    flex: 100%;
    max-width: 100%; 
    padding-top: 20px; 
    display: flex; 
    justify-content: center; 
}